* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    margin-top: 20px;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 10px;
}
.tile-container {
    perspective: 1000px;
    border-radius: 100%;
}

.tile {
    width: 80px;
    height: 80px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.tile.flipped {
    transform: rotateY(180deg);
}

.front {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: #7FFFD4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: 0 2px 2px #00000026;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 4px;
}
.front:hover{
    cursor: pointer;
}
.back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: #9ACD32;
    border-radius: 4px;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.matched .back {
    background-color:#7FFFD4
}

.matched {
    pointer-events: none; 
}

.controls {
    margin-top: 10px;
    text-align: center;
}

#attempts {
    font-size: 1.5rem;
    font-weight: bold;
}


@media screen and (max-width: 768px) {
    .game-board {
        grid-template-columns: repeat(4, 80px);
        grid-template-rows: repeat(4, 80px);
        gap: 8px;
        padding: 1.5rem;
    }

    .tile {
        width: 60px;
        height: 60px;
    }

    .front, .back {
        font-size: 25px;
    }
}

@media screen and (max-width: 480px) {
    .game-board {
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: repeat(4, 60px);
        gap: 6px;
        padding: 1rem;
    }

    .tile {
        width: 40px;
        height: 40px;
    }

    .front, .back {
        font-size: 20px;
    }

    #attempts {
        font-size: 1.2rem;
    }

    #restart {
        padding: 8px 16px;
    }
}
#restart {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #00FFFF;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
#restart:hover {
    transform: scale(0.96);
}

